doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./style.css")
    title Matrix in CSS
  body 

  - var n = 0;
  - var i = 0;
  - var value;

  .wrapper
    while n <= 80
      div(class='column col-' + ++n)
        - i = 0;
        while i < 50
          - ++i;
          //- - value = Math.floor(Math.random() * 431) + 256;
          - value = Math.floor(Math.random() * 255) + 10240;
          span &##{value};

  script(src="./script.js") 